# ignore everything
*

# except src folder
!src/

# keep contents inside src
!src/**

# ignore models
src/models/

# ignore meshes anywhere (any depth)
**/meshes/

# git files
!.gitignore
!README.md
!LICENSE
